body
{
   background-color: #2D2D2D;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   animation: animate-fade-in 1000ms linear 0ms 1 normal both;
}
#LayoutGrid4
{
   box-sizing: border-box;
   padding: 100px 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid4 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid4 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid4 > .row > .col-1
{
   float: left;
}
#LayoutGrid4 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#LayoutGrid4:before,
#LayoutGrid4:after,
#LayoutGrid4 .row:before,
#LayoutGrid4 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid4:after,
#LayoutGrid4 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid4 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('images/index_LayoutGrid5_bkgrnd.png');
   background-repeat: repeat;
   background-position: left top;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   animation: background-position-top-left 25000ms linear 0ms infinite normal both, animate-fade-in 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
}
#LayoutGrid5
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid5 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid5 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid5
{
   width: 320px;
}
#LayoutGrid5 > .row > .col-1
{
   float: left;
}
#LayoutGrid5 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid5:before,
#LayoutGrid5:after,
#LayoutGrid5 .row:before,
#LayoutGrid5 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid5:after,
#LayoutGrid5 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid5
{
   width: 100%;
}
#LayoutGrid5 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 100px;
   padding: 0;
   animation: animate-fade-in-down 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   display: inline-block;
   width: 205px;
   height: 205px;
   vertical-align: top;
}
#Image1:active
{
   margin-top: 3px;
   transition: margin-top 10ms linear 0ms;
}
#wb_LayoutGrid6
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid6
{
   box-sizing: border-box;
   padding: 20px 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid6 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid6 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid6 > .row > .col-1
{
   float: left;
}
#LayoutGrid6 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid6:before,
#LayoutGrid6:after,
#LayoutGrid6 .row:before,
#LayoutGrid6 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid6:after,
#LayoutGrid6 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid6 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   height: 15px;
   overflow-y: hidden;
   padding: 0;
   margin: 0;
   text-align: left;
   animation: animate-fade-in 1800ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text1
{
   display: inline-block;
   margin: 0;
   width: 138px;
   height: 15px;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   animation: animate-fade-in-up 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
}
#LayoutGrid2
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .col-1
{
   flex: 0 0 auto;
}
#LayoutGrid2 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_OverlayMenu1
{
   position: relative;
}
#OverlayMenu1
{
   background-color: #424242;
   background-image: none;
   border: 0px solid #424242;
   border-radius: 0px;
   margin: 0;
}
#OverlayMenu1:hover
{
   background-color: #CCCCCC;
   background-image: none;
   border-color: #424242;
}
#OverlayMenu1
{
   display: block;
   width: 100px;
   height: 100px;
   position: relative;
   overflow: hidden;
}
#OverlayMenu1 .line
{
   width: 32px;
   height: 6px;
   position: relative;
   top: 30px;
   background: #FFFFFF;
   display: block;
   margin: 6px auto;
}
#OverlayMenu1:hover .line
{
   background: #424242;
}
#OverlayMenu1-close
{
   background: transparent;
   font-size: 10px;
   height: 2.8em; 
   outline: none;
   position: absolute;
   right: 10px;
   text-align: left;
   top: 10px;
   width: 3em; 
}
#OverlayMenu1-close:before, #OverlayMenu1-close:after
{
   background: #FFFFFF;
   content: "";
   display: block;
   height: 0.6em;
   left: 0;
   opacity: 1;
   position: absolute;
   top: 0;
   width: 100%;
}
#OverlayMenu1-close span
{
   background: #FFFFFF;
   height: 0.6em;
   margin-top: -0.3em;
   position: absolute;
   top: 50%;
   transform-origin: 50% 50%;
   width: 100%;
}
#OverlayMenu1-close span::after
{
   background: #FFFFFF;
   content: "";
   display: block;
   height: 0.6em;
   position: absolute;
   transform-origin: 50% 50%;
   width: 100%;
}
#OverlayMenu1-close:before
{
   margin-top: -0.3em;
   opacity: 0;
   top: 50%;
}
#OverlayMenu1-close:after
{
   bottom: 50%;
   opacity: 0;
}
#OverlayMenu1-close span
{
   background: #FFFFFF;
   transform: rotate(-45deg);
}
#OverlayMenu1-close span:after
{
   background: #FFFFFF;
   transform: rotate(-90deg);
}
#OverlayMenu1-overlay
{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   left: 0;
   overflow-y: auto;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: -1;
   background-color: rgba(122,122,122,0.87);
}
#OverlayMenu1-overlay ul
{
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   text-decoration: none;
   list-style: none;
   margin: 0;
   padding: 0;
}
.OverlayMenu1
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   width: 100%;
   max-width: 970px;
}
.OverlayMenu1 a
{
   text-decoration: none;
}
.OverlayMenu1 ul
{
   list-style: none;
   padding: 0;
   text-align: center;
}
.OverlayMenu1 li
{
   position: relative;
}
.OverlayMenu1 li a
{
   display: block;
   position: relative;
   padding: 10px 15px 10px 15px;
   color: #FFFFFF;
   outline: none;
}
.OverlayMenu1 li a:hover
{
   color: #424242;
   background-color: #CCCCCC;
}
#OverlayMenu1-overlay
{
   visibility: hidden;
   width: 0;
   left: 50%;
   transform: translateX(-50%);
   transition: width 400ms 0.3s, visibility 0s 700ms;
}
#OverlayMenu1-overlay.show
{
   visibility: visible;
   width: 100%;
   transition: width 400ms;
}
#OverlayMenu1-overlay .OverlayMenu1
{
   opacity: 0;
   transition: opacity 0.3s 400ms;
}
#OverlayMenu1-overlay.show .OverlayMenu1
{
   opacity: 1;
   transition-delay: 400ms;
}
#OverlayMenu1-overlay.hide .OverlayMenu1
{
   transition-delay: 0s;
}
.OverlayMenu1 li.drilldown-back > a 
{
   padding-left: 40px;
   background: rgba(0,0,0,0.1);
}
.OverlayMenu1 li.drilldown-back > a:hover
{
   background-color: #CCCCCC;
}
.OverlayMenu1 li.drilldown-back a:after,
.OverlayMenu1 li > a:not(:only-child):after
{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 9px;
   border-left: 9px solid #FFFFFF;
   border-top: 7px solid transparent;
   border-bottom: 7px solid transparent;
   border-right: 0 dotted;
   content: " ";
}
.OverlayMenu1 li.drilldown-back a:after
{
   left: 9px;
   color: #FFFFFF;
   transform: translateY(-50%) rotate(180deg);
}
.OverlayMenu1 li.drilldown-back a:hover:after,
.OverlayMenu1 li > a:not(:only-child):hover:after
{
   border-left-color: #424242;
}
.OverlayMenu1 li > a:after
{
   color: rgba(0,0,0,0.15);
   right: 10px;
}
.OverlayMenu1 .drilldown-menu 
{
   margin: 0;
   width: 100%;
}
.OverlayMenu1 li .drilldown-submenu 
{
   display: none;
}
.drilldown-menu.drilldown-subview li,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > a,
.drilldown-menu.drilldown-subview li.drilldown-subview > a 
{
   display: none;
}
.drilldown-menu.drilldown-subview li.drilldown-subview,
.drilldown-menu.drilldown-subview li.drilldown-subview .drilldown-submenu,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > .drilldown-submenu,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > .drilldown-submenu > li 
{
   display: block;
}
.OverlayMenu1 > .drilldown-submenu
{
   left: 0;
   margin: 0;
   position: absolute;
   top: 50px;
   width: 100%;
}
#OverlayMenu1-overlay .overlay-icon
{
   margin: 0 10px 0 0 ;
}
#OverlayMenu1-social
{
   padding: 40px 0 0 0;
}
#OverlayMenu1-social .social-icon 
{
   border-radius: 50%;
   background-color: #FFFFFF;
   color: #7A7A7A;
   display: inline-block;
   font-size: 19px;
   margin: 0 .5em;
   padding: 7px;
   transition: all .2s linear 0s;
   width: 19px;
}
#OverlayMenu1-social .social-icon:hover 
{
   background-color: #424242;
   color: #CCCCCC;
}
.OverlayMenu1-effect
{
   transition: all 500ms linear;
}
#wb_Icon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #2D2D2D;
   border-radius: 0px;
   text-align: center;
   animation: animate-fade-in-down 1300ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   margin: 0;
   padding: 0;
   line-height: 40px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Icon1 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_Icon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #5A5A5A;
}
#Icon1
{
   overflow: visible;
   vertical-align: top;
   width: 100%;
   height: 100%;
}
#Icon1
{
   fill: #4B4B4B;
   display: inline-block;
   font-size: 28px;
   vertical-align: middle;
   width: 27px;
}
#wb_Icon1:hover #Icon1
{
   fill: #969696;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text2
{
   display: inline-block;
   margin: 0;
   width: 116px;
   height: 15px;
}
        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(-20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        #display {
            animation: fadeIn 2s ease-in-out;
            display: block;
            margin: 0 auto;
            text-align: center;
        }
       
    